Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
/*.log
/.firebaserc
/public/books.json
/public/bundle*
/.firebase/
/firebase_emulator_data/
/client/.parcel-cache
