Thumbs.db
.DS_Store
.gradle
build/
target/
node_modules/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
/*.log
/.firebaserc
/public
/.firebase/
/firebase_emulator_data/
/client/.parcel-cache
