rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /books/{document=**} {
      allow read: if true;
    }
    match /individuals/{document=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == "bboisvert@gmail.com";
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
